
sidekiq_cluster['enable'] = false
sidekiq_cluster['ha'] = true
sidekiq_cluster['max_concurrency'] = 10 # The maximum number of threads each Sidekiq process should run
 
sidekiq_cluster['queue_groups'] = [
   "pipeline_processing",
   "pipeline_creation",
   "pipeline_default,pipeline_cache,pipeline_hooks,pipeline_background"
 ]

## Disable all other services
gitlab_workhorse['enable'] = false
unicorn['enable'] = false
postgresql['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
pgbouncer_exporter['enable'] = false
gitlab_monitor['enable'] = false
sidekiq['enable'] = false
gitaly['enable'] = false

