# The URL GitLab is available on
external_url 'http://{{ hostvars[groups['lb'][0]]['inventory_hostname'] }}'

# Disable components that will not be on the GitLab application server
roles ['application_role']
nginx['enable'] = true
sidekiq['enable'] = false

unicorn['listen'] = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

# PostgreSQL connection attributes
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['db_password'] = 'packtpub'
gitlab_rails['db_host'] =  '{{ hostvars[groups['pgbouncer'][0]]['inventory_hostname'] }}' # IP/hostname of database server
gitlab_rails['db_port'] = 6432

# Gitaly
gitlab_rails['gitaly_token'] = 'abc123secret'
git_data_dirs({
 'default' => { 'path' => '/var/opt/gitlab/git-data','gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['inventory_hostname'] }}:8075' }
})
gitlab_rails['gitaly_token'] = 'abc123secret'
gitaly['enable'] = false

 # Redis connection details
 gitlab_rails['redis_port'] = '6379'
 gitlab_rails['redis_host'] = '{{ hostvars[groups['redis'][0]]['inventory_hostname'] }}' # IP/hostname of Redis server
 gitlab_rails['redis_password'] = 'packtpub'

# Ensure UIDs and GIDs match between servers for permissions via shared filesystem
user['uid'] = 9000
user['gid'] = 9000
web_server['uid'] = 9001
web_server['gid'] = 9001
registry['uid'] = 9002
registry['gid'] = 9002

#Don't run migrations 
gitlab_rails['auto_migrate'] = false
 
#disable letsencrypt for demo purposes
letsencrypt['enable'] = false
