# The URL GitLab is available on
external_url 'http://{{ hostvars[groups['lb'][0]]['inventory_hostname'] }}'

gitlab_rails['internal_api_url'] = "http://{{ hostvars[groups['frontend'][0]]['inventory_hostname'] }}:8080"

# Disable components that will not be on the GitLab application server
roles ['application_role']

# Enable sidekiq
sidekiq['enable'] = true
gitaly['enable'] = false

## Disable all other services
gitlab_workhorse['enable'] = false
unicorn['enable'] = false
postgresql['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
pgbouncer_exporter['enable'] = false
gitlab_monitor['enable'] = false

# Gitaly
git_data_dirs({
  'default' => { 'path' => '/var/opt/gitlab/git-data','gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][0]]['inventory_hostname'] }}:8075' }
})
gitlab_rails['gitaly_token'] = 'abc123secret'
gitaly['enable'] = false

# PostgreSQL connection attributes
gitlab_rails['db_adapter'] = 'postgresql'
gitlab_rails['db_encoding'] = 'unicode'
gitlab_rails['db_password'] = 'packtpub'
gitlab_rails['db_host'] =  '{{ hostvars[groups['pgbouncer'][0]]['inventory_hostname'] }}' # IP/hostname of database server
gitlab_rails['db_port'] = 6432

# Redis connection details
gitlab_rails['redis_port'] = '6379'
gitlab_rails['redis_host'] = '{{ hostvars[groups['redis'][0]]['inventory_hostname'] }}' # IP/hostname of Redis server
gitlab_rails['redis_password'] = 'packtpub'

# Ensure UIDs and GIDs match between servers for permissions via shared filesystem
user['uid'] = 9000
user['gid'] = 9000
web_server['uid'] = 9001
web_server['gid'] = 9001
registry['uid'] = 9002
registry['gid'] = 9002

{% if hostvars[inventory_hostname].role == "slave"  %}
 
gitlab_rails['initial_root_password'] = "packtpub"


# Make sure only 1 GitLab server executes migrations
gitlab_rails['auto_migrate'] = false

{% endif %}

#disable letsencrypt for demo purposes
letsencrypt['enable'] = false
