
 roles ['geo_secondary_role']
 
 postgresql['listen_address'] = ""{{ hostvars[groups['gitlab'][1]]['ansible_eth0']['ipv4']['address'] }}""
 postgresql['md5_auth_cidr_addresses'] = ["{{ hostvars[groups['gitlab'][1]]['ansible_eth0']['ipv4']['address'] }}"]

 
 postgresql['sql_user_password'] = "{{ generated_db_pass }}"
 gitlab_rails['db_password'] = 'packtpub'

 
 geo_secondary['db_fdw'] = true