<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presence</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>You have indicated: <%= Choices[@presence] %></p>
    <p><a href='/results'>Here is an overview of invitees</a></p>
  </body>
</html>